Repository metasfresh/metasfresh, pull requests merged in 2021-12, with the labels that each got.

#12075 #12073 add po reference to invoice identifier
  backend/de.metas.business/src/main/sql/postgresql/system/20-de.metas.business/5616430_sys_gh12073_addPOReference2InvoiceIdentifier.sql
Labels: branch:master

#12053 Button for HU not found
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/NotFoundButton.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/QtyReasonsView.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/picking/PickStepScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/wfProcessScreen/AbortButton.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/wfProcessScreen/WFProcessScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/utils/translations_de.js
  misc/services/mobile-webui/mobile-webui-frontend/src/utils/translations_en.js
Labels: typ:mobile-ui

#12103 mobile UI app: Inventory Disposal
  backend/de.metas.distribution.rest-api/src/main/java/de/metas/distribution/workflows_api/DistributionMobileApplication.java
  backend/de.metas.handlingunits.base/src/main/java-gen/de/metas/handlingunits/model/I_M_Inventory_Candidate.java
  backend/de.metas.handlingunits.base/src/main/java-gen/de/metas/handlingunits/model/X_M_Inventory_Candidate.java
  backend/de.metas.handlingunits.base/src/main/java/de/metas/inventory/InventoryCandidateService.java
  backend/de.metas.handlingunits.base/src/main/sql/postgresql/system/5617240_sys_M_Inventory_Candidate.sql
  backend/de.metas.handlingunits.base/src/main/sql/postgresql/system/5617330_sys_M_Inventory_Candidate_UQ.sql
  backend/de.metas.manufacturing.rest-api/src/main/java/de/metas/handlingunits/mobileui/InventoryDisposalMobileApplication.java
  backend/de.metas.manufacturing.rest-api/src/main/java/de/metas/handlingunits/rest_api/HandlingUnitsRestController.java
  backend/de.metas.manufacturing.rest-api/src/main/java/de/metas/manufacturing/workflows_api/ManufacturingMobileApplication.java
  backend/de.metas.picking.rest-api/src/main/java/de/metas/mobileui/inventory_disposal/CompleteHUDisposalWFActivityHandler.java
  backend/de.metas.picking.rest-api/src/main/java/de/metas/mobileui/inventory_disposal/HUDisposalJob.java
  backend/de.metas.picking.rest-api/src/main/java/de/metas/mobileui/inventory_disposal/HUDisposalJobService.java
  backend/de.metas.picking.rest-api/src/main/java/de/metas/mobileui/inventory_disposal/HUStorageInfo.java
  backend/de.metas.picking.rest-api/src/main/java/de/metas/mobileui/inventory_disposal/InventoryDisposalMobileApplication.java
  backend/de.metas.picking.rest-api/src/main/java/de/metas/picking/workflow/handlers/PickingMobileApplication.java
  backend/de.metas.workflow.rest-api/src/main/java/de/metas/workflow/rest_api/service/MobileApplication.java
  backend/de.metas.workflow.rest-api/src/main/java/de/metas/workflow/rest_api/service/WorkflowBasedMobileApplication.java
  backend/de.metas.workflow.rest-api/src/main/java/de/metas/workflow/rest_api/service/WorkflowRestAPIService.java
  misc/de-metas-common/de-metas-common-manufacturing/src/main/java/de/metas/common/handlingunits/JsonDisposalReason.java
  misc/de-metas-common/de-metas-common-manufacturing/src/main/java/de/metas/common/handlingunits/JsonDisposalReasonsList.java
  misc/de-metas-common/de-metas-common-manufacturing/src/main/java/de/metas/common/handlingunits/JsonHU.java
  misc/de-metas-common/de-metas-common-manufacturing/src/test/java/de/metas/common/handlingunits/JsonGetSingleHUResponseTest.java
  misc/services/mobile-webui/mobile-webui-frontend/src/apps/index.js
  misc/services/mobile-webui/mobile-webui-frontend/src/apps/inventoryDisposal/api.js
  misc/services/mobile-webui/mobile-webui-frontend/src/apps/inventoryDisposal/containers/InventoryDisposalScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/apps/inventoryDisposal/i18n/de.json
  misc/services/mobile-webui/mobile-webui-frontend/src/apps/inventoryDisposal/i18n/en.json
  misc/services/mobile-webui/mobile-webui-frontend/src/apps/inventoryDisposal/index.js
  misc/services/mobile-webui/mobile-webui-frontend/src/components/QtyReasonsRadioGroup.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/QtyReasonsView.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/applicationScreen/AppCard.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/applicationScreen/ApplicationsScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/wfLaunchersScreen/WFLaunchersScanBarcodeScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/reducers/wfProcesses_status/activityStateHandlers.js
  misc/services/mobile-webui/mobile-webui-frontend/src/routes/index.js
  misc/services/mobile-webui/mobile-webui-frontend/src/utils/translations.js
Labels: typ:mobile-ui

#12120 Don't show negative quantities in the prompt
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/PickQuantityPrompt.jsx
Labels: typ:mobile-ui

#12077 Refactor headers
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/common/LineButton.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/common/StepButton.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/common/StepScanScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/common/StepScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/distribution/DistributionLineButton.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/distribution/DistributionLineScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/distribution/DistributionStepButton.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/distribution/DistributionStepDropToScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/distribution/DistributionStepPickFromScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/distribution/DistributionStepScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/manufacturing/LineScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/manufacturing/ManufacturingReceiptScanScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/manufacturing/MaterialReceiptLineButton.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/manufacturing/MaterialReceiptLineScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/manufacturing/RawMaterialIssueScanScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/manufacturing/RawMaterialIssueStepButton.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/manufacturing/RawMaterialIssueStepScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/manufacturing/RawMaterialsIssueLineButton.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/manufacturing/ReceiptReceiveTargetScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/picking/PickAlternatives.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/picking/PickLineButton.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/picking/PickLineScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/picking/PickProductsActivity.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/picking/PickStepButton.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/picking/PickStepScanScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/activities/picking/PickStepScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/containers/wfProcessScreen/WFProcessScreen.jsx
  misc/services/mobile-webui/mobile-webui-frontend/src/routes/common.js
  misc/services/mobile-webui/mobile-webui-frontend/src/routes/index.js
  misc/services/mobile-webui/mobile-webui-frontend/src/routes/manufacturing.js
  misc/services/mobile-webui/mobile-webui-frontend/src/routes/picking.js
  misc/services/mobile-webui/mobile-webui-frontend/src/routes/workflow.js
  misc/services/mobile-webui/mobile-webui-frontend/src/utils/index.js
  misc/services/mobile-webui/mobile-webui-frontend/src/utils/picking.js
Labels: typ:mobile-ui

#12146 HU Reservation improvements
  backend/de.metas.distribution.rest-api/src/main/java/de/metas/distribution/workflows_api/DistributionJob.java
  backend/de.metas.distribution.rest-api/src/main/java/de/metas/distribution/workflows_api/DistributionJobCreateCommand.java
  backend/de.metas.distribution.rest-api/src/main/java/de/metas/distribution/workflows_api/DistributionJobHUReservationService.java
  backend/de.metas.distribution.rest-api/src/main/java/de/metas/distribution/workflows_api/DistributionJobLoader.java
  backend/de.metas.distribution.rest-api/src/main/java/de/metas/distribution/workflows_api/DistributionRestService.java
  backend/de.metas.handlingunits.base/src/main/java-gen/de/metas/handlingunits/model/I_M_HU_Reservation.java
  backend/de.metas.handlingunits.base/src/main/java-gen/de/metas/handlingunits/model/X_M_HU_Reservation.java
  backend/de.metas.handlingunits.base/src/main/java/de/metas/distribution/ddorder/movement/schedule/DDOrderMoveScheduleService.java
  backend/de.metas.handlingunits.base/src/main/java/de/metas/distribution/ddorder/movement/schedule/DDOrderPickFromCommand.java
  backend/de.metas.handlingunits.base/src/main/java/de/metas/handlingunits/allocation/transfer/HUTransformService.java
  backend/de.metas.handlingunits.base/src/main/java/de/metas/handlingunits/allocation/transfer/ReservedHUsPolicy.java
  backend/de.metas.handlingunits.base/src/main/java/de/metas/handlingunits/picking/job/service/commands/PickingJobCreateCommand.java
  backend/de.metas.handlingunits.base/src/main/java/de/metas/handlingunits/pporder/api/issue_schedule/PPOrderIssueScheduleService.java
  backend/de.metas.handlingunits.base/src/main/java/de/metas/handlingunits/reservation/HUReservationDocRef.java
  backend/de.metas.handlingunits.base/src/main/java/de/metas/handlingunits/reservation/HUReservationRepository.java
  backend/de.metas.handlingunits.base/src/main/java/de/metas/handlingunits/reservation/HUReservationService.java
  backend/de.metas.handlingunits.base/src/main/java/de/metas/handlingunits/reservation/ReserveHUsRequest.java
  backend/de.metas.handlingunits.base/src/main/java/de/metas/handlingunits/shipmentschedule/api/ShipmentScheduleWithHUService.java
  backend/de.metas.handlingunits.base/src/main/sql/postgresql/system/5616100_sys_M_HU_Reservation_DD_OrderLine_ID.sql
  backend/de.metas.handlingunits.base/src/main/sql/postgresql/system/5618740_sys_M_HU_Reservation_C_BPartner_Customer_ID.sql
  backend/de.metas.handlingunits.base/src/test/java/de/metas/handlingunits/allocation/transfer/ReservedHUsPolicyTest.java
  backend/de.metas.handlingunits.base/src/test/java/de/metas/handlingunits/util/HUTracerInstance.java
  backend/de.metas.manufacturing.rest-api/src/main/java/de/metas/manufacturing/rest_api/v1/ManufacturingOrderReportProcessCommand.java
  backend/de.metas.manufacturing.rest-api/src/main/java/de/metas/manufacturing/rest_api/v2/ManufacturingOrderReportProcessCommand.java
Labels: typ:mobile-ui

#12188 Properly display custom active filters to the user
  frontend/src/__tests__/components/filters/Filters.test.js
  frontend/src/assets/css/styles.css
  frontend/src/components/filters/Filters.js
  frontend/src/utils/filterHelpers.js
  frontend/test_setup/fixtures/filters/filtersStoreFacet.json
  frontend/test_setup/fixtures/filters/filtersStoreFour.json
  frontend/test_setup/fixtures/filters/filtersStoreInline.json
  frontend/test_setup/fixtures/filters/filtersStoreThree.json
Labels: required:webui-frontend

#12225 Keep locator if it is not afterPicking
  backend/de.metas.handlingunits.base/src/main/java/de/metas/handlingunits/inout/impl/HUShipmentAssignmentBL.java
Labels: branch:master, in:5.175_master
